*{margin: 0;padding: 0;box-sizing: border-box;}

.carousel-inner img {
    width: 100%;
    height: 90vh;
  }

  .aboutimg
  {
    width: 100%;
    height: 250px!important;
  }

  .marketimg
  {
    width: 100%;
    height: 250px!important;

  }

  .soilimg
  {
    width: 100%;
    height: 250px!important;


  }

  .govtimg
  {
    width: 100%;
    height: 250px!important;

  }

  .efarming1img
  {
    width: 100%;
    height: 250px!important;
  }